<AuthorizeView>
    <Authorized>
		<MudButton Link="Identity/Account/Manage">Hello, @context.User.Identity.Name!</MudButton>
        <form method="post" action="Identity/Account/LogOut">
            <MudButton ButtonType="ButtonType.Submit">Log out</MudButton>
        </form>
    </Authorized>
	<NotAuthorized>
		<MudButton Link="Identity/Account/Register">Register</MudButton>
		<MudButton Link="Identity/Account/Login">Log in</MudButton>
	</NotAuthorized>
</AuthorizeView>
