<AuthorizeView>
    <Authorized>
		<MudButton Color="Color.Primary" Link="Identity/Account/Manage">Привет, @context.User.Identity.Name!</MudButton>
        <form method="post" action="Identity/Account/LogOut">
            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit">Выход</MudButton>
        </form>
    </Authorized>
	<NotAuthorized>
		<MudButton Color="Color.Primary" Link="Identity/Account/Register">Регистрация</MudButton>
		<MudButton Color="Color.Primary" Link="Identity/Account/Login">Вход</MudButton>
	</NotAuthorized>
</AuthorizeView>
